@import url("./reset.css");

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #fc748a;
  user-select: none;
}

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  background: #fcd674;
  box-shadow: 5px 5px 5px #a14a58;
  padding: 40px 60px;
  border-radius: 10px;
}

h2 {
  font-size: 3em;
  color: #222;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.reset {
  padding: 15px 30px;
  font-size: 1.5em;
  border: none;
  width: 100%;
  cursor: pointer;
  background-color: #fff;
  border-radius: 5px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  box-shadow: 1px 1px 5px #c4a65a;
  font-weight: 600;
}

.reset:focus {
  color: #fc748a;
  background-color: #222;
}

.game {
  width: 430px;
  height: 430px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  transform-style: preserve-3d;
  perspective: 500px;
}

.item {
  position: relative;
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border-radius: 5px;
  font-size: 3em;
  box-shadow: 1px 1px 5px #c4a65a;
  cursor: pointer;
  transform: rotateY(180deg);
  transition: 0.25s;
}

.item::after {
  content: "";
  position: absolute;
  inset: 0;
  background: #222;
  transition: 0.25s;
  transform: rotateY(0deg);
  backface-visibility: hidden;
}

.item.boxOpen{
  transform: rotateY(0deg);
}

.boxOpen::after,
.boxMatch::after{
  transform: rotateY(180deg);
}